<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/index.css">
    <script src="../../app.js"></script>
    <title>Document</title>
</head>
<body>
  {{>header}}
  <h1>about</h1>
   <blink>
     <p>i am learning {{tech}} to make {{project}}.</p>
   </blink>
   <img src="../images/imgb.jpg" alt="boy" width="100px" height="100px" >
   {{src}}
   {{>footer}}
</body>
</html>