<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../css/index.css">
    <script src="../../app.js"></script>
    <title>Document</title>
</head>
<body>
      {{>header}}
    <h2>help route</h2>
    <p>{{name}}</p>
        {{>footer}}
</body>
</html>