<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../../css/index.css">
    <script src="../../app.js"></script>
    <title>Document</title>
</head>
<body>
      {{>header}}
    <div class="container">
      
       <div>
            <h1>Weather App centent</h1>
       </div>
{{!-- <p></p> --}}
     
    </div>
    {{>footer}}
</body>
</html>