<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../assets/css/index.css">
  <title>Document</title>
</head>
<body>
   <center> <h1>Weather App</h1>
  <div class="menuItems">
    <a href="/">home page </a>
    <a href="/about">about page </a>
    <a href="/help">help page </a></center>
  </div>
<hr>
</body>
</html>
