.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color:red;
}

body{
    color:red;
    background-color: aqua;
    font-family: arial;
}

.menuItems{
    display: flex;
    justify-content: space-evenly;

}
.menuItems a {
    padding:0.3em 0.7em;
    border:2px solid #888888;
    text-decoration: none;
    background-color: #eee;
}
.menuItems a:hover {
    -webkit-box-shadow: 7px 4px 22px -5px rgba(77,183,209,1);
-moz-box-shadow: 7px 4px 22px -5px rgba(77,183,209,1);
box-shadow: 7px 4px 22px -5px rgba(77,183,209,1);
}